.account-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 0px;
}

.account-header-avatar {
  width: 124px;
  height: 124px;
}

.account-header-name {
  text-align: center;
}
