ion-tab-bar {
  -webkit-justify-content: left !important;
  justify-content: left !important;
}
ion-tab-button {
  ion-badge {
    inset-inline-start: 100%;
  }
}

ion-tab-button {
  max-width: fit-content;
}
